<div class="lewy-panel">
  <div class="lewy-panel-flex">
    <div class="naglowek-nawigacji">
      LibrusX
    </div>
    <div class="panel-guzikow">
      <button class="guzik-nawigacja" [routerLink]="['home']">
        Strona główna
      </button>
      <button class="guzik-nawigacja" [routerLink]="['student-list']">
        Lista uczniów
      </button>
      <button class="guzik-nawigacja" [routerLink]="['student-form']">
        Dodawanie ucznia
      </button>
    </div>
  </div>
</div>
