<div class="kontener-formularza">
  <div class="tytul-formularza">
    Formularz dodawania studenta
  </div>
  <div class="pola-formularza">
    <div class="pole-formularza">
      <label>Imie:</label>
      <input type="text" placeholder="Podaj imie:" [(ngModel)]="dodawanyStudent.imie">
    </div>
    <div class="pole-formularza">
      <label>Nazwisko:</label>
      <input type="text" placeholder="Podaj nazwisko:" [(ngModel)]="dodawanyStudent.nazwisko">
    </div>
    <div class="pole-formularza">
      <label>Data urodzenia:</label>
      <input type="date" [(ngModel)]="dodawanyStudent.dataUrodzenia">
    </div>
  </div>
  <div class="guziki-formularza">
    <div class="guzik-reset-kontener">
      <button class="guzik-reset" (click)="wyczyscFormularz()">
        Wyczyść
      </button>
    </div>
    <div class="guzik-submit-kontener">
      <button class="guzik-submit" (click)="dodajStudentaDoSerwisu()">
        Wyślij
      </button>
    </div>
  </div>
</div>
